

.banner-container {
    margin: 0;
    padding: 0;
    background: #984063;
    height: 200px;
    font-size: 28px;
    font-family: 'Playfair Display';
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
 }
 .main-body{
    margin: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
 }
 .factoid{
    width: 50%;
    height: 200px;;
    font-family: 'Playfair Display';
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;    
 }
