<div class="quiz-container">
   <div class="header" *ngIf="title$ | async as title">{{title}}</div>
   <div *ngIf="questions$ | async as questions">
      <div class="options-wrapper" *ngFor="let question of questions; index as i">
         <div class="question-header"><b>Question {{i+1}}</b></div>
         <div class="question-prompt">{{question.prompt}}</div>
         <div class="question-options">
            <mat-radio-group (change)="onChange($event, i)" class="language-options" aria-label="Select an option">
               <div *ngFor="let option of question.options; index as optionNum">
                  <div class="option-row">
                     <mat-radio-button class="button" value={{optionNum}}></mat-radio-button> 
                     <div class="button-label">{{option}}</div>
                  </div>
               </div>
          </mat-radio-group>
         </div>
      </div>

   </div>
   <button [disabled]="selectedValue.includes('')" class='confirm-button' (click)="submitAnswers()">Submit Answers</button>


</div>