
.quiz-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Poppins';
   background: #F3F4F6;
   padding-bottom: 50px;

   .header {
      background: #984063;
      font-weight: bold;
      color: white;
      font-size: 36px;
      text-align: center;
   }

   .options-wrapper {
      align-self: center;
      margin-top: 20px;
      width: 90%;
      border-radius: 10px;
      .question-options {
         background-color: white;
         border: 1px solid #141466;
         box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.10);
         border-radius: 10px;
         margin-top: 10px;
         .option-row {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            width: 100%;
            
            .button {
               justify-self: flex-start;
               margin-left: 10px;
               font-weight: 600;
            }
         }

      }

   }
   .confirm-button {
      margin-top: 40px;
      border: none;
      background: #141466;
      border-radius: 15px;
      font-weight: 800;
      color: white;
      padding: 10px 20px;
      width: 90%;
      align-self: center;
      margin-bottom: 30px;
   }

}