<div class="quiz-container">
   <div class="header">Education</div>
   <div class="options-wrapper" *ngFor="let question of questions; index as i">
      <div class="question-header"><b>Question {{i+1}}</b></div>
      <div class="question-prompt">{{question.prompt}}</div>
      <div class="question-options">
         <mat-radio-group (change)="onChange($event, i)" class="language-options" aria-label="Select an option">
            <div class="option-row">
               <mat-radio-button class="button" value=1></mat-radio-button> 
               <div class="button-label">{{question.options[0]}}</div>
            </div>
            <div class="option-row">
               <mat-radio-button class="button" value=2></mat-radio-button> 
               <div class="button-label">{{question.options[1]}}</div>
            </div>
            <div class="option-row">
               <mat-radio-button class="button" value=3></mat-radio-button> 
               <div class="button-label">{{question.options[2]}}</div>
            </div>
       </mat-radio-group>
      </div>
   </div>
   <button [disabled]="selectedValue.includes('')" class='confirm-button' (click)="submitAnswers()">Submit Answers</button>


</div>