<div class="select-language-container">
   <div class="top-text">
      <div class="header">Select a langage</div>
      <div class="subheader">Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</div>
   </div>
   <div class="options-wrapper">
      <mat-radio-group (change)="onChange($event)" class="language-options" aria-label="Select an option">
         <div class="option-row">
            <div class="button-label">English</div>
            <mat-radio-button class="button" value="English"></mat-radio-button> 
         </div>
         <div class="option-row">
            <div class="button-label">Español</div>
            <mat-radio-button class="button" value="Spanish"></mat-radio-button> 
         </div>
         <div class="option-row">
            <div class="button-label">العربية</div>
            <mat-radio-button class="button" value="Arabic"></mat-radio-button> 
         </div>
    </mat-radio-group>
   </div>
   <button class='confirm-button' [disabled]="selectedValue===0" (click)="redirectPage(selectedValue)">Confirm Selection</button>
</div>